<div class="row" id="bookmark_<%= @bookmark.id %>">
  <div class="col-md-6">
    <%= image_tag('http://via.placeholder.com/550x500?text=placeholder-image', size: "550x500", class: "bookmark-preview") %>
  </div>
  <div class="col-md-6" >

    <% if policy(@bookmark).edit? %>
      <%= link_to "Edit", edit_bookmark_path(@bookmark), remote: true, class: 'btn btn-sm btn-info' %>
    <% end %>
    <% if policy(@bookmark).destroy? %>
      <%= link_to "Delete", bookmark_path(@bookmark), remote: true, method: :delete, data: { confirm: "Delete Bookmark Permanently?" }, class: 'btn btn-sm btn-danger' %>
    <% end %>

    <div>
      <p></p>
      <p>
        URL: <%= @bookmark.url %><br>
        Category:&#9;&#9;<%= @bookmark.topic.title %><br>
        Created By: <%= @bookmark.user.email.split('@')[0] %><br>
        Created On: <%= @bookmark.created_at.strftime("%b %e, %Y") %>
      </p>

      <p>
        Times Bookmarked: 1234<br>
        Times Favorited: 123

      </p>
    </div>
  </div>
</div>
