<% if policy(bookmark).edit? %>
  <button type="button" class="btn btn-info btn-small", data-toggle="modal" data-target="#myModal">
    Edit
  </button>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-center" id="myModalLabel">Edit Bookmark</h4>
        </div>
        <%= form_for [bookmark.topic, bookmark] do |f| %>
          <div class="modal-body">
              <div class="form-group">
                <%= f.label "Bookmark URL" %>
                <%= f.text_field :url, class: "form-control" %>
              </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if policy(bookmark).destroy? %>
  <%= link_to "Delete", [bookmark.topic, bookmark], method: :delete, class: 'btn btn-danger btn-small' %>
<% end %>
