<div class="row">
  <div class="col-md-6">
    <h1><%= format_link(@bookmark.url) %></h1>
    <% if current_user && ( @bookmark.topic.user == current_user || current_user.admin? ) %>
      <%= render partial: 'edit_modal', locals: { bookmark: @bookmark } %>
    <% end %>

    <div>
      <p></p>
      <p>
        Created By: <%= @bookmark.topic.user.email.split('@')[0] %><br>
        Created On: <%= @bookmark.created_at %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <%= image_tag("http://via.placeholder.com/550x500?text=placeholder-image", size: "550x500", class: "bookmark-preview") %>
  </div>
  <%= console %>
</div>
