<h1><%= @topic.title %></h1>
<p>Find me in app/views/topics/show.html.erb</p>

<div class="row">
  <div class="col-md-12">

    <% @topic.bookmarks.sort_by{ |e| e.url.downcase }.each do |bookmark| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <% if policy(Like.new).create? %>
              <% if current_user && (like = current_user.liked(bookmark)) %>
                <%= link_to [bookmark, like], method: :delete do %>
                  <span class="glyphicon glyphicon-bookmark add-bookmark favorited"></span>
                <% end %>
              <% else %>
                <%= link_to [bookmark, Like.new], method: :post do %>
                  <span class="glyphicon glyphicon-bookmark add-bookmark"></span>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to bookmark do %>
              <div class="caption">
                <div style="background-color: #eee; height: 200px"></div>
                <h3 class="text-center"><%= bookmark.display_name %></h3>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>

  <% if current_user&.admin? %>
    <div class="col-md-4 alert alert-danger text-center">
      <p class="text-justify">Deleting this topic will also delete all related bookmarks from all users.
        Please exercise caution before proceeding as this is <strong>NOT REVERSIBLE</strong>.</p>
        <hr>
      <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>
